.nolist{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header{
    border-bottom: 2px solid black;
}


li {
    overflow: hidden;
}


main{
    margin-top: 20px;
    border-bottom: 2px solid black;
}
main a{
    color: black;
}
#publications, #education {
    border-bottom: none;
}






